nav {
  float: left;
  width: 20%;
  height: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  width: 20%;
}

nav ul ul {
  display: none;
}

nav ul li:hover > ul {
  display: inherit;
}

nav ul {
  background: #efefef;
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
                                background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
                                                                 background: -webkit-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
                                                                                                     box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
                                                                                                     padding: 0 20px;
                                                                                                     border-radius: 10px;
                                                                                                     list-style: none;
                                                                                                     position: relative;
                                                                                                     display: inline-table;
}

nav ul:after {
  content: ""; 
  clear: both; 
  display: block;
}

nav ul li {
  float: left;
}

nav ul ul ul li {
  float: none; 
  border-top: 1px solid #6b727c;
  border-bottom: 1px solid #575f6a;
  position: relative;
}

nav ul ul ul ul li {
  position: relative;
}

nav ul ul ul ul ul li {
  position: relative;
}

nav ul li:hover > ul {
  display: inherit;
}

nav ul ul {
  display: none;
  position: absolute; 
  top: 100%; 
}

nav ul ul ul {
  left: 100%; 
  top:0;
}

nav ul li a {
  display: block; 
  padding: 25px 40px;
  color: #757575; 
    text-decoration: none;
}

nav ul ul ul a {
  padding: 15px 40px;
  color: #fff;
}

nav ul ul ul ul a {
  padding: 15px 40px;
  color: #fff;
}

nav ul ul ul ul ul a {
  padding: 15px 40px;
  color: #fff;
}

nav ul ul ul ul ul ul a {
  padding: 15px 40px;
  color: #fff;
}

nav ul li > a:after {
  content: ' ▼';
}

nav ul ul li > a:after {
  content: ' ▲';
}

nav ul
